<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">{{ displayName }}</h3>
</div>
<div class="panel-body">
  <div class="col-xs-10">
    <div class="row align-details">
      <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-6">First Name</div>
            <div class="col-xs-6">{{ person.firstname }}</div>

            <div class="col-xs-6">Last Name</div>
            <div class="col-xs-6">{{ person.lastname }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
